.images {
  display: flex;
  background: red;
}

.images img {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.scroll-button {
  height: 46px;
  position: fixed;
  right: -20px;
  color: white;
  display: flex;
  text-transform: uppercase;
  transition: right 200ms;
  cursor: pointer;
  font-weight: bold;
}

.scroll-button-body {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-button-triangle {
  width: 0;
  height: 0;
  border-top: 23px solid blue;
  border-bottom: 23px solid blue;
  border-left: 23px solid transparent;
}

.scroll-button:hover {
  right: 0px;
}