

nav{
}

.scroll-button {
  height: 46px;
  position: fixed;
  right: -20px;
  color: white;
  display: flex;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 200ms;
  cursor: pointer;
  font-weight: bold;
}

.scroll-button-body {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-button-triangle {
  width: 0;
  height: 0;
  border-top: 23px solid blue;
  border-bottom: 23px solid blue;
  border-left: 23px solid transparent;
}

.active, .scroll-button:hover {
  right: 0px;
}