html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body, .main-container {
  background-image: linear-gradient(to bottom right, #FF512F, #DD2476) !important;
  /*background-image: linear-gradient(to bottom right, #41295a, #2F0743) !important;*/
  /*background-image: linear-gradient(to bottom right, #121C84, #8278DA) !important;*/
  /*background-image: linear-gradient(to bottom right, #72FFB6, #10D164) !important;*/
}

main {
  background: transparent;
}

aside {
  width: 20%;
  background-repeat: repeat-y;
  background-size: contain;
}

@media screen and (max-width: 48em){
  .parallax{
    display: none;
  }
}

@media screen and (max-width: 80em){
  aside{
    display: none;
  }
}

.left {
  background-image: url("/left-side2.png");
}

.right {
  background-image: url("/right-side2.png");
}

footer svg {
  width: 32px;
  height: auto;
}

footer a:hover svg {
  color: rgba(255, 255, 255, .7);
}

nav {
  backdrop-filter: blur(100px);
  z-index: 1000;
  position: sticky;
  top: 0;
  mix-blend-mode: screen;
  overflow: hidden;
}

nav a:hover {
  text-decoration: none !important;
}

.nav-item {
  transition: color 200ms, background 200ms, transform 200ms;

}

.nav-item a {
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:not(.active):hover:after {
  height: 5px;
}

.nav-item:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background: white;
  transition: height 100ms;
  pointer-events: none;
}

.section-layout {
  padding-top: 69px;
}

.section-wrapper:not(:first-of-type){
  margin: 3rem 0;
}

h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem !important;
}

h3 {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem !important;
  user-select: none;
  width: max-content;
}

.skills-content h3:hover:after {
  transform: translateX(1rem);
}

.skills-content h3:hover:before {
  transform: translateX(-1rem);
}

.skills-content h3::after {
  content: '>';
  display: inline-block;
  transition: transform 200ms;
}

.skills-content h3::before {
  content: '<';
  display: inline-block;
  transition: transform 200ms;
}

.scroll-btn-bg {
  background-image: linear-gradient(to bottom right, #FF512F, #DD2476);
}

.scroll-button {
  height: 46px;
  position: fixed;
  right: -20px;
  color: white;
  display: flex;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 200ms;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #FF512F, #DD2476);
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0 0 25px;
}

.active, .scroll-button:hover {
  right: 0px;
}

.skills-content svg {
  width: 80px;
  height: auto;
  color: white;
}

@media screen and (max-width: 750px) {
  .skills-content svg {
    width: 50px;
    height: auto;
    color: white;
  }
}

.skills-content h3 {
  padding-bottom: 1rem;
}

.work-content img {
  width: auto;
  height: 205px;
}


.work-item a:nth-of-type(1) svg {
  height: 100%;
}

.work-item a:nth-of-type(2) svg {
  height: 70%;
}



@media screen and (max-width: 450px) {
  .work-item .links {
    height: 50px;
    padding: 0;
  }

  .work-item a {
    height: 90%;
  }
}

@media screen and (max-width: 850px) {
  .work-content img {
    height: auto;
  }
}

.work-item {
  width: 40vw;
  max-width: 400px;
  background-color: rgba(0, 0, 0, .05);
}

.work-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-item .links {
  padding: .5rem 0;
}

.work-item:hover {
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgb(0 0 0 / 19%);
}